# Jugando con series de tiempo

En este Jupyter la idea es revisar algunas cosas b√°sicas sobre series de tiempo

Vamos a usar los datos del clima de Delhi que estan en kaggle (https://www.kaggle.com/sumanthvrao/daily-climate-time-series-data)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Importamos los datasets
ruta = ("datasets/Delhi clime/"
        "datasets_312121_636393_DailyDelhiClimateTrain.csv")
df_train = pd.read_csv(ruta)

Exploramos el dataset

In [16]:
df_train.head()

        date   meantemp   humidity  wind_speed  meanpressure
0 2013-01-01  10.000000  84.500000    0.000000   1015.666667
1 2013-01-02   7.400000  92.000000    2.980000   1017.800000
2 2013-01-03   7.166667  87.000000    4.633333   1018.666667
3 2013-01-04   8.666667  71.333333    1.233333   1017.166667
4 2013-01-05   6.000000  86.833333    3.700000   1016.500000

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 5 columns):
date            1462 non-null object
meantemp        1462 non-null float64
humidity        1462 non-null float64
wind_speed      1462 non-null float64
meanpressure    1462 non-null float64
dtypes: float64(4), object(1)
memory usage: 57.2+ KB

Transformamos la fecha a datetime

In [9]:
df_train["date"] = pd.to_datetime(df_train["date"])
print(f"La fecha maxima en el dataset es {df_train['date'].max()}")
print(f"La fecha minima en el dataset es {df_train['date'].min()}")

La fecha maxima en el dataset es 2017-01-01 00:00:00
La fecha minima en el dataset es 2013-01-01 00:00:00

In [14]:
dias = (df_train['date'].max() -
        df_train['date'].min()).total_seconds()/(3600*24)
print(dias)

1461.0

### 1- Graficando las series